{% load static %}

<!DOCTYPE html

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Django blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        
        <script src="" async defer></script>
    </body>
</html>

<header>
    <div class="nav-left">
        <h1><a href="{% url 'home' %}">Mi blog</a></h1>
        </div>

        <div class="nav-right">
            <h1><a href="{% url 'post_new' %}">+ New Post</a></h1>
            </div>
    
    <h1>BlogPage</h1>
    <a href="{%url 'home' %}">home</a>
    <a href="{%url 'about' %}">about<a/>
</header>

{% block content %}

{% endblock content %}

<footer>
    <a href="mailto:pietruccihlucianoa5tou@gmail.com">Who is going to carry the boats and the logs.</a>
</footer>
</body>
</html>